<div class="heading-container">
    <h4>MOVIE GALLERY</h4>
</div>

<div class="container">
    <div class="d-flex justify-content-around option"  id="id_category">
        <div *ngFor="let g of genres">
            <button class="btn btn-outline-dark" (click)="getMoviesByGenres(g)">{{g}}</button>
        </div>
    </div>
    
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-4" *ngFor="let m of movies">
            

              <div class="news-card">
                <div class="image-container" *ngIf="m.poster_image">
                    <img src="http://127.0.0.1:8000/{{m.poster_image}}" alt="">
                </div>
                <div class="news-content">
                    <div class="news-title">{{m.name}}</div>
                    <div class="news-description">{{m.description}}</div>
                    <a href="" class="view-button" [routerLink]="['/movies',m.id]">Read More</a>
                </div>
            </div>
        </div>
    </div>

</div>



